<!--
This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this website.  If not, see <https://www.gnu.org/licenses/>.
-->


{% extends "pageTemplate.html" %}
{% block body %}

    <h1>Useful Wiki</h1>
    <!-- This page contains info about our site. -->

    <p>
        Robin Wils founded this wiki to make it easier to find some useful interesting wiki's that you might not know about yet.
        We are developing the useful wiki with the GPL license in mind.
        It might not be under the GPL license yet but the founder of the project would loves the idea of free software so this is one of the plans for this project.
    </p>

    <h2>Project team</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        <tr>
            <td>Robin Wils</td>
            <td>Founder (currently also a developer)</td>
        </tr>
    </table>

{% endblock %}
