<!--
This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this website.  If not, see <https://www.gnu.org/licenses/>.
-->


{% extends "pageTemplate.html" %} {% block body %}

<h1>Request a wiki</h1>
<!-- This page will send me a email so that I can check of it really is a useful_wiki. -->
<!-- The email will contain all the filled-in data and a link that I will be able to click on.
		 That link will insert a new useful_wiki in the database. (java back-end) -->

<form action="#">
	<table id="wikiTable">
		<tbody>
			<tr>
				<!-- Required field -->
				<!-- This will have a maximum and minimum amount of chars -->
				<td>Name of the wiki:</td>
				<td><input type="text" id="wikiName"></td>
			</tr>
			<tr>
				<!-- Required field -->
				<!-- This will have a maximum and minimum amount of chars -->
				<td>Description</td>
				<td>
					<textarea id="wikiDescription"></textarea>
				</td>
			</tr>
			<tr>
				<!-- Required field -->
				<!-- This will have a link validator -->
				<td>Wiki URL</td>
				<td><input type="text" id="wikiURL"></td>
			</tr>
			<tr>
				<!-- Required field -->
				<!-- This will have a maximum and minimum amount of tags -->
				<td>Wiki tags</td>
				<td><input type="text" id="wikiTags"></td>
			</tr>
			<tr>
				<!-- This field is not required -->
				<td>Wiki icon</td>
				<td><input type="file"></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">Request wiki</button>
				</td>
			</tr>
			<!-- It would also be nice to add a field and a extra html page to edit useful_wiki's -->
		</tbody>
	</table>
</form>

<label>Do you think that we are missing a tag?</label>
<br>
<!-- TODO: Replace the br element with CSS -->
<label>Request it</label>
<a href="/requestTag/">here</a>
<label>!</label> {% endblock %}
