<!--
This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this website.  If not, see <https://www.gnu.org/licenses/>.
-->


{% extends "pageTemplate.html" %}
{% block body %}

    <h1>Request tag</h1>
    <!-- This page will send me a email so that I can check of we need the tag. -->
    <!-- The email will contain all the filled-in data and a link that I will be able to click on.
         That link will insert a new tag in the database. (java back-end) -->

    <form action="#">
        <table id="wikiTable">
            <tbody>
                <tr>
                    <!-- Required field -->
                    <!-- This will have a maximum and minimum amount of chars -->
                    <td>Name of the tag:</td>
                    <td><input type="text" id="tag"></td>
                </tr>
                <tr>
                    <!-- Required field -->
                    <!-- This will have a maximum and minimum amount of chars -->
                    <td>Description</td>
                    <td><textarea id="tagDescription"></textarea></td>
                <tr>
                    <td colspan="2">
                        <button type="submit">Request tag</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

{% endblock %}
