/*
This website is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this website.  If not, see <https://www.gnu.org/licenses/>.
*/


/* HTML elements */

body {
	max-width:   650px;
        margin:      80px auto;
        padding:     0 10px;
	line-height: 1.6;
	font-size:   18px;
	color:       #444;
}

@media only screen and (max-width: 550px) {
    body {
        font-size:   15px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        font-size:   12px;
    }

    input[type=text] {
        width: 80px;
    }
}

input[type=checkbox] {
    width: 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

table {
    width:           100%;
    border:          1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border:  1px solid black;
}

/* Navigation and footer */

nav, nav > ul, footer, footer > ul {
    margin-right: auto;
    margin-left:  auto;
    max-width:    650px;
}

nav > ul > li, footer > ul > li {
    display: initial;
}

nav > ul > li:not(:last-child)::after, footer > ul > li:not(:last-child)::after {
    content: ' |';
}

nav, footer {
    width:      100%;
    position:   absolute;
    text-align: center;
}

footer {
    bottom:     0;
    border-top: 1px solid #444;
}

nav {
    top:           0;
    border-bottom: 1px solid #444;
}

#sortOptionsTable {
    font-size: 14px;
}

#sortOptionsTable td{
    border: none;
}
